/* ExpenseFrom.css */

/* Container */
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

/* Form */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold; /* Make labels bold */
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease; /* Add smooth transition for input border color */
}

input[type="text"]:focus {
  border-color: #007bff; /* Change border color on focus */
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add smooth transition for button background color */
}

button:hover {
  background-color: #0056b3;
}

/* Premium User Section */
.premium-user {
  margin-top: 20px;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  width: 100px;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
  .form-container {
    max-width: 100%;
    padding: 10px;
  }

  input[type="text"],
  button {
    width: 100%; /* Make input fields and button full width on smaller screens */
  }
}
